{% include 'forum/header.html' %}


<!-- Header for creating new threads -->
<div id="wrapper">
<h1>Mosteit Forums</h1>
<form id="thread_form" method="post" action="/new_thread/">
{% csrf_token %}
<label for="title" >Subject Title</label>
<input type="text" class="text_input" name="title" id="title"  maxlength="60"/>
<label for"username">Username</label>
<input type="text" class="text_input" name="username" id="username" maxlength="60"/>
<input type="submit" id="create_thread" value="Create Thread" />
</form>
<div id="post_div">

<ul>
{% for thread  in threads %}


<li class='post'>
<a style='float:left;margin:.5em;' href='view_thread?thread_id={{thread.thread_id}}'>{{thread.thread_title}}</a>
<p style='float:left;margin:.5em;'>{{thread.username}}: {{thread.date_posted}}</p>
<form action='/delete_thread/' method='POST'>
{% csrf_token %}
<input style='float:left;margin:.5em' class='delete' type="submit" value="Delete"> 
<input type='hidden' name='thread_id' value='{{thread.thread_id}}'>
</form>
</li>

{% endfor%}
</ul>


</div><!-- end #post_div -->
</div><!-- end #wrapper -->

<!-- Script functionality starts here -->

<script>

// Create a new text area 
var post_text = $("<br><textarea name='post_text' id='post_text' rows='7' cols='100'>Message text</textarea>");

// Add the text area to the form.
$('#thread_form').append(post_text);

// Hide the newly created text area 
$('#post_text').hide();


    // When the user focuses on either title or author, show the text area 
    $('#title, #username').focus(
        function(){
            $('#post_text').show('slow');
        }

    );

    // When the user leaves the text area, hide it if it is empty 
    $('#post_text').blur(
        function(){
        
            var text = $('#post_text').val();
            if (text.trim() === ''){
                $('#post_text').hide('slow');
            } 
        }
    ); 


    </script>
   
{%include 'forum/footer.html' %}