{% include 'forum/header.html' %}

<div id='wrapper' thread_id='{{thread_id}}'>
<a href="{% url 'index' %}">Back to index</a>
<h2 class='thread_title'>{{title|escape}}</h2>
{% include 'forum/view_thread_recur.html' %}

</div>

<script>
// Add a new post to the existing branch
$('.reply_current_branch, .reply_new_branch').click(
        function(){
        var id           = $(this).parent().parent().attr('id');
        var textarea     = $("<textarea name='post_text' id='post_text"+id+"'rows='7' cols='100'>Message Text</textarea>");
        var username_div = $("<div class='username_div' </div>");
        var username     = $("<label for='username"+id+"'>Username</label><input type='text' class='text_input'  name='username' id='username"+id+"' >");
        var button       = $("<input type='submit' class='post_button'  id='reply_button"+id+"' value='post'>");
        var parent_id    = $("<input type='hidden' name='parent_id' value ='"+id+"'>");
        var thread_id    = $("<input type='hidden' name='thread_id' value ='"+$("#wrapper").attr('thread_id')+"'>");
        var url          = $("<input type='hidden' name='url' value='"+document.location.href+"'>");
        // Hide the reply button 
        $(this).hide();
        // Create a form with the textarea and button
        form = $("<form method='post' action='/new_post/' accept-charset='utf-8'> {% csrf_token %}")
        $(form).append(textarea);
        $(username_div).append(username);
        $(username_div).append(button);
        $(form).append(username_div);
        // Create the hidden elements used in the post data
        $(form).append(parent_id);
        $(form).append(thread_id);
        $(form).append(url);
        $(this).parent().append(form);
        }
);
</script>

{%include 'forum/footer.html' %}